@font-face {
    font-family: myfont;
    src: url(./font/Ubuntu-Bold.ttf);
}
:root {
    font-size: 20px;
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

body {
    /* background-image: url(./img/monkey.jpg); */
    width: 100vw;
    height: 100vh;
    
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}
.container-child {
    background-color: red;
    border: 1px solid;
    width: 100%;
    height: 100%;
    flex: 1;
}

#right-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex: 1.3 1 0;   
}

#right-container > div {
    border: 1px solid;
    width: 100%;   
}

#top {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#middle {
    flex: 1.4 1 0;

}

#logo {
    background-color: rgba(0,0,0, 0.5);
    text-align: center;
    position: relative;
    top: 10rem;
}

fieldset > div{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.2rem;
    
}
fieldset{
    display: flex;
    margin-top: 0.5rem;
    justify-content: space-evenly;
    width: 35vw; 
   
}

input{
    width: 10rem;
    height: 1.1rem;
}

input, label, .middle_text, .button > *, #top > p{
    position: relative;
    left: 1rem;
}

form > div{
    border: 1px solid;
    
}

form {
    display: flex;
    flex-direction: column;
}

.button{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 20vw;
    gap: 0.3rem;
}


.button > button {
    width: 40%;
}

#top > p{
    position: relative;
    top: 10rem;
    width: 30vw;
    font-size: 1rem;
}