@font-face {
    font-family: myfont;
    src: url(./font/Ubuntu-Bold.ttf);
}
:root {
    font-size: 20px;
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

body {
    width: 100vw;
    height: 100vh;
    
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}
.container-child {
    background-color: red;
    width: 100%;
    height: 100%;
    flex: 1;
}

#right-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex: 1.6 1 0;   
}

#right-container > div {
    width: 100%;   
}

#left-container {
    background-image: url(./img/monkey.jpg);
}

#top {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgb(132, 177, 96);
}

#middle {
    flex: 1.6 1 0;
    background-color: rgb(132, 177, 96);

}

#logo {
    background-color: rgba(0,0,0, 0.5);
    text-align: center;
    position: relative;
    top: 10rem;
}

fieldset > div{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.2rem;
    
}
fieldset{
    display: flex;
    margin-top: 0.5rem;
    justify-content: space-evenly;
    width: 35vw; 
   
}
.info, .middle_text{
    background-color: #ceeecb;
    box-shadow: 1px 5px 5px 1px rgb(0, 0, 0, 20%);
}
.info {
    height: 23vh;
}

input { 
    width: 10rem;
    height: 1.1rem;
    border: 1px solid rgb(0, 0, 0, 30%)
}
input:invalid {
    border-color: red;
}

input:valid {
    border-color: green;
}

input:hover {
    border-color: blue;
}

input, label, .button > *, #top > p, .middle_text{
    padding-left: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

.button{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 20vw;
    gap: 0.3rem;
    
}

.button > button {
    width: 40%;
    position: relative;
    left: 1rem;
    height: 3vh;
    padding-right: 1rem;
    background-color: #596D48;
    color: white;
    border-radius: 0.2rem;
    box-shadow: 1px 5px 5px 1px rgb(0, 0, 0, 20%);
}

#top > p{
    position: relative;
    top: 10rem;
    width: 30vw;
    font-size: 1rem;
}

img {
    height: 12vh;

}

#logo {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: myfont;
    font-size: 3rem;
    color: white;
}
